{% include "parts/header.html" %}
<h1 class="text-3xl font-bold underline">
    <a href="http://127.0.0.1:5000/login">
        <button type="button">Login</button>
    </a>
</h1>
{% include "parts/footer.html" %}
<style>
    button {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        border-radius: 10px;
    }
</style>
